@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/page/page.css);
@import url(../blocks/place-area/place-area.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__like-button/places__like-button.css);
@import url(../blocks/places/__like-button/_active/places__like-button_active.css);
@import url(../blocks/places/__name/places__name.css);
@import url(../blocks/places/__text/places__text.css);
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/__close-button/pop-up__close-button.css);
@import url(../blocks/pop-up/__edit-container/pop-up__edit-container.css);
@import url(../blocks/pop-up/__edit/pop-up__edit.css);
@import url(../blocks/pop-up/__form-container/pop-up__form-container.css);
@import url(../blocks/pop-up/__form/pop-up__form.css);
@import url(../blocks/pop-up/__save-edit-button/pop-up__save-edit-button.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);
@import url(../blocks/pop-up/_opened/pop-up_opened.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__information/profile__information.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__text-edit/profile__text-edit.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/places/__delete-button/places__delete-button.css);
@import url(../blocks/pop-up/__image-container/pop-up__image-container.css);
@import url(../blocks/pop-up/__image-title/pop-up__image-title.css);
@import url(../blocks/pop-up/__image/pop-up__image.css);
@import url(../blocks/pop-up/__save-edit-button/_disabled/pop-up__save-edit-button_disabled.css);
@import url(../blocks/pop-up/__edit/_type/pop-up__edit_type_error.css);
@import url(../blocks/pop-up/__error-massage/pop-up__error-massage.css);
@import url(../blocks/pop-up/__error-massage/_hidden/pop-up__error-massage_hidden.css);
@import url(../blocks/profile/__button/_type/_card-edit/profile__button_type_card-edit.css);
@import url(../blocks/profile/__button/_type/_profile-edit/profile__button_type_profile-edit.css);
@import url(../blocks/places/__like-container/places__like-container.css);
@import url(../blocks/places/__like-count/places__like-count.css);
@import url(../blocks/pop-up/__form-container/_type/pop-up__form-container_type_confirm.css);
@import url(../blocks/pop-up/__form-container/_type/pop-up__form-container_type_avatar.css);
